@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

#wrapper{
    min-height: 100%;
    display: flex;
    felx-direction: column;
}


body{
    background: linear-gradient(to right, #153440, #593442);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* Header section */
header {
    position: sticky;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.navigation-Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

#logo {
    position: absolute;
    height: 100px;
}

.content{
    position: absolute;
    right: 0;
    top: 5%;
}

.nav-list {
    text-align: center;
    background: #D91E0D;
    padding: 10px 20px;
    height: 100%;
    border-bottom-left-radius: 18px;
}

.element{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* End of Header section */

/*Footer section */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #D91E0D;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.email {
    margin-bottom: 5px;
}

.footer img {
    position: absolute;
    width: 45px;
    right: 1%;
    top:2%;
    cursor: pointer;
}

#hover-image {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.right-content:hover #hover-image {
    opacity: 1;
}



p {
    font-size: 12px;
    color: #F2DFEB;
}

/* End of Footer section */



/* Main Page section */
.main-container {
    top: 35%;
    position: absolute;
    left: 5%;
    justify-content: flex-start;
}

.main-picture #mainPic{
    position: absolute;
    right: -50%;
    bottom: 5%;
    height: 500px;
    opacity: 75% ;
    border-radius: 20%;
}

#main h1 {
    display: block;
    width: fit-content;
    font-size: 10rem;
    position: relative;
    color: white;
}

#main .main-picture h1{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F2DFEB;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

.about-button {
    display: inline-block;
    position: absolute;
    bottom: -10%;
    color: #F2DFEB;
    background-color: transparent;
    border: 2px solid #D91E0D;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.about-button a {
    text-decoration: none;
}
/* END Main Page section */


/* About Page section */
.about-container {
    top: 30%;
    position: relative;
    justify-content: flex-start;
}

.about-container{
    background: #593442;
    max-width: 300px;
    border-radius: 20%;
    text-align: center;

}

.about-container img{
    box-shadow: 0 5px 8px rgba(242, 223, 235, 0.56);
    border-radius: 25%;
    width:250px;
    border: 5px solid #D91E0D;
}

.title {
    color: #F2DFEB;
    font-size: 18px;
}

#about .about-container h1{
    color: #F2DFEB;
    font-size: 10px;
    text-align: center;
}

#about .about-container p{
    color: #F2DFEB;
    font-size: 10px;
    text-align: center;
}
/* End of About Page section */

/*ABOUT ME PAGE*/
.about{
    position: absolute;
    bottom:25%;
}


.box{
    background: conic-gradient(#D98989, #F2DFEB, #593442);
    position: relative;
    width: 40%;
    padding: 4%;
    text-align: center;
    left: 4%;
    color: white;
    font-family: "Calibri", sans-serif;
}

.box h1{
    background: #153440;
    box-shadow: 0 5px 10px white;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    background: #153440;
    font-size:25px;
    letter-spacing: 3px;
}

.box article{
    font-style: normal;
    background: #153440;
    font-weight:bold;
    position: relative;
    padding-top: 20px;
    font-size: 18px;
}

.video-container {
    position: absolute;
    top: 20%;
    right: 10%;
    margin: auto;
    padding: 5px;
}