/* Resetting default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}

/* Styling the container for the webpage */
.container {
    width: 100%;
    min-height: 100vh; /* Minimum height to fill the viewport */
    background-image: linear-gradient(rgba(0, 4, 40, 0.73), rgba(12, 22, 117, 0.8)), url(fullstars.jpg); /* Background with gradient overlay and image */
    padding: 10px; /* Padding inside the container */
}

/* Styling the navigation bar */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling the logo */
#logo {
    position: relative;
    right: 1%;
    max-width: 60px;
    border-radius: 60%;
    cursor: pointer; /* Cursor style on hover */
}

/* Styling the navigation list */
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding: 20px;
}

/* Styling individual navigation list items */
nav ul li {
    display: inline-block;
    margin: 5px 20px;
}

/* Styling links within navigation list items */
nav ul li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

/* Styling links on hover */
nav ul li a:hover {
    font-size: 32px;
    color: #755C00;
}

/* Styling the header section */
header {
    border-bottom: 1px solid #ffffff;
    position: sticky; /* Header sticks to the top of the viewport */
}

/* Center the content both vertically and horizontally */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    min-height: 80vh; /* Ensure it takes up at least the full viewport height */
}

/* Styling for the content section */
.content-inner {
    padding: 20px; /* Padding for content */
    border-radius: 5px; /* Rounded corners for content */
    text-align: center; /* Center-align text */
}

.content-inner h1 {
    font-size: 48px; /* Font size for the heading */
    color: #ffffff; /* Text color for the heading */
}

.content-inner p {
    font-size: 32px; /* Font size for paragraphs */
    color: #ffffff; /* Text color for paragraphs */
    margin: 10px 0; /* Margin between paragraphs */
}

/* Styling the footer section */
.footer {
    position: fixed; /* Footer is fixed to the bottom of the viewport */
    display: flex;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 4, 40, 0.8);
    align-items: center;
    padding: 3px;
}

/* Styling an image within the footer */
.footer img {
    position: absolute;
    max-width: 60px;
    border-radius: 60%;
    left: 90%;
    display: block;
    border: 3px solid;
}

/* Styling an article within the footer */
.footer footer {
    text-align: left;
    position: relative;
    left: 1%;
}

/* Styling paragraph within the footer */
.footer footer p {
    text-align: left;
    position: relative;
}

footer p a {
    text-decoration: none;
    color: white;
}

/*ABOUT ME PAGE*/

.box{
    position: relative;
    width: 40%;
    padding: 4%;
    text-align: center;
    left: 4%;
    color: white;
    font-family: "Calibri", sans-serif;
}

iframe{
    position: relative;
    top: -50%;
    left: 2%;
    width: 400px;
    height:250px;
    transition: all 800ms;
}


.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size:25px;
    letter-spacing: 3px;
}

.box article{
    padding-top: 20px;
    font-size: 18px;
}

/*ABOUT ME PAGE*/

/*Contact Page*/

#title-Tag-Line {
    font-size:20px;
}

.form-box {
    background: linear-gradient(#000429, #000000);
    width: 100%;
    height: 95vh;
    display: inline-block;
    text-align: center;
    position: relative;
    animation: bounce 1.5s infinite;

}
::-webkit-input-placeholder {
    font-size: 1.3em;
}
.title{
    display: block;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
}

.termsConditions{
    color: white;
}

.pageTitle{
    font-size: 2em;
    font-weight: bold;
}
.secondaryTitle{
    color: #ffffff;
}

.name {
    background-color: #ffffff;
    color: #000000;
}
.name:hover {
    border-bottom: 5px solid #755C00;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.email {
    background-color: #ffffff;
    height: 2em;
    color: #000000;
}

.email:hover {
    border-bottom: 5px solid #755C00;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.message {
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    height: 10rem;
}

.message:hover {
    border-bottom: 5px solid #755C00;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
}


.tel{
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    height: 2em;
}


.tel:hover {
    border-bottom: 5px solid #755C00;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.submit {
    width: 200px;
    color: #ffffff;
    background-color: #755C00;
    font-size: 20px;
}

.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #ffffff;
    border-radius: 0%;
}

@keyframes bounce {
    0% {
        tranform: translate(0, 4px);
    }
    50% {
        transform: translate(0, 4px);
    }
}